body {
  font-family: Arial;
  text-align: center;
  padding: 20px;
  transition: background 0.3s, color 0.3s;
}
.dark {
  background: #121212;
  color: #fff;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
}
